@import '@/assets/style/var.scss';

.login {
  &-tab {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 20px;
    font-weight: bold;
    color: $text-color;
    &-click {
      font-size: 14px;
      color: $primary-color;
      font-weight: normal;
      cursor: pointer;
    }
    margin-bottom: 20px;
  }
}

.xy-form-bottom {
  position: relative;

  .setting-btn {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.shake {
  animation: shake 0.8s both;
  text-align: left;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
